p{
    color:darkorange
}
body{
    background-color: bisque;
}
/* Id Selector*/
#align{
    text-align: center;
}

/*class selector*/
.align{
    text-align: right;
}

/*selector priorities*/
/* 1.Inline 2.Internal 3.ID 4.class 5.Element/tag 6.External
 7.global selector(*)*/